main {
  width: 100vw;
  height: 100vh;
}

.hero-text {
  font-size: calc(1rem + 5vw);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img-container {
  width: 80vw;
  height: 50vh;
  position: relative;
}

.img-container > .mobile {
  display: block;
}
.img-container > .desktop {
  display: none;
}

@media (min-width: 500px) {
  .img-container {
    width: 70vw;
    height: 50vh;
    margin-top: 50px;
  }

  .hero-text {
    margin-top: 50px;
  }

  .flex-container {
    justify-content: center;
  }

  .img-container > .mobile {
    display: none;
  }
  .img-container > .desktop {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  .img-container > .mobile {
    display: none;
  }
  .img-container > .desktop {
    display: block;
  }
}

.social-icons {
  display: flex;
  justify-content: center;

  padding: 0 20%;
  margin-top: 30px;
}

.social-icons > a {
  margin: 0 2%;
}
